# Libraries for application development
python-dotenv==1.0.*     # Managing environment variables
psycopg==3.2.*          # Database interaction library
pandas==2.2.*            # Data manipulation and analysis
streamlit==1.36.*        # Framework for creating web applications
altair==5.3.*            # Declarative statistical visualization library

# Library for error tracking and handling
sentry_sdk==2.9.*       # Error tracking and monitoring
