# Formatting and utilities and tools
pre-commit==3.7.0        # Code quality and style checks before commit
black==24.4.2            # Code formatting tool
commitizen==3.27.0       # Commit message convention tool
ruff==0.5.1              # Pre-commit hook management tool
